body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;

}

.container {
    display: grid;
    margin: 10rem auto;
    width: 800px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.container1 {
    text-align: center;
}

.container2 {
    text-align: center;
}

.container3 {
    text-align: center;
}

.btn {
    position: relative;
    display: block;
    color: #fff;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none; 
    margin: 30px 20px;
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 14px 30px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.9s all ease;
}

.btn:before {
    background: #fff;
    content: "";
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 0.3s all ease;
    position: absolute;
}

.btn:hover {
    color: #000;
   
}

/* Option 1 */
.btn1:before {
    width: 0;
    height: 100%;
    transform: translate(-50%, -50%);

}
.btn1:hover::before {
    width: 100%;
}

/* Option 2 */

.btn2:before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%);
}

.btn2:hover::before {
    height: 110%;
}

/* Option 3 */
.btn3:before {
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
    height: 450%;
}

/* Option 4 */
.btn4:before {
    width: 100%;
    height: 0 ;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 450%;
}
/* Option 5 */
.btn5:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}

.btn5:hover::before {
    height: 100%;
}

/* Option 6 */
.btn6:before {
    top:110%; /* 110% because @ 100% there was an shake of object in the animation */
    left: 0;   /* so i moved the shake out of view due to the hidden overflow*/
    width: 100%;
    height: 0;
    transform: translate(0 , -100%);
}

.btn6:hover::before {
    height: 111%;
}

/* Option 7 */

.btn7:before {
    top:0;
    left: 0;
    width: 0;
    height: 100%;
}

.btn7:hover::before {
    width: 100%;
}

/* Option 8 */
.btn8:before {
    top:0;
    left: 100%;
    width: 0;
    height: 100%;
    transform: translate(-100%, 0);
    
}

.btn8:hover::before {
    width: 100%;
}

/* Option 9 */
.btn9:before {
    top:100%;
    left: 0;
    width: 100%;
    height: 0;
    transform: translate(0, -100%);
}

.btn9:hover::before {
    height: 0%;
}













